.form-control::placeholder{
    color: #eee;
    font-size:40px;
}
.form-control{
    font-size: 40px;
    border-bottom:white 2px solid;
    
}
.app-search{
    box-shadow:0 0 10px 5px #ccc;
    border-radius:10px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding-top:20px;
    margin-top: -50px;
}
.app-search{
    button{
        width:60px;
        i{
            font-size:40px;
        }
    }
}
