<div class="container blue-grey darken-1 app-search">
        <div class="row">
                <div class="col-md-11">
                        <input #search 
                               (keyup.enter)="onSearchBtn(search.value)"  class="form-control my-0 py-0 white-text" placeholder="Search Places" type="text">
                </div>
                <div class="col-md-1">
                        <button  (click)="onSearchBtn(search.value)" class="btn btn-lg btn-primary ml-2 px-2 waves-effect waves-light"><i class="fa fa-search"></i></button>
                </div>      
        </div>
</div>