.chip{
    font-size:24px;
    border-radius:100%;
    background:#eee;
    margin-left:5px;
    cursor: pointer;
}
.chip:hover{
    background: #bbb;
}
.container{
    min-height: 300px !important; 
}