<div class="card card-cascade wider reverse">

    <!-- Card image
    <div class="view overlay hm-white-slight header-img" >
        <img src="../assets/images/header.jpeg" class="img-fluid">
           
    </div> -->
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title white-text display-3"><strong>Search Nearby Application</strong></h4>
    

        <p class="card-text white-text">Search anything in the world like schools, colleges, hotels, parks, etc
        </p>

    </div>
    <!--/.Card content-->

</div>